.header {
  position: absolute;
  z-index: 100;
  inset: 0 0 auto;

  display: flex;
  justify-content: center;

  width: 100%;
  padding: 15px 0 12px;

  background: rgb(255 255 255 / 80%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-width: 1600px;
}

.logoRow {
  display: flex;
  justify-content: space-between;
}

.partners {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1740px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 10px 0;
  }

  .container {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    gap: 0;
  }

  .logoRow {
    margin-bottom: 20px;
  }
}
