.button {
  cursor: pointer;

  display: block;

  padding: 15px 50px;
  border: none;
  border-radius: 50px;

  font-family: var(--font-roboto), "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  outline: none;
}

.primary {
  color: var(--color-secondary);
  background: var(--color-primary);
  box-shadow: 0 0 0 2.5px var(--color-primary) inset,
    0 0 0 5px var(--color-primary) inset;
  transition: box-shadow 0.3s ease;
}

@media (hover: hover) {
  .primary:hover {
    box-shadow: 0 0 0 2.5px var(--color-primary) inset,
      0 0 0 5px var(--color-tertiary) inset;
  }

  .primary:focus {
    box-shadow: 0 0 0 2.5px var(--color-primary) inset,
      0 0 0 5px var(--color-tertiary) inset;
  }
}

@media (hover: none) {
  .primary:active {
    box-shadow: 0 0 0 2.5px var(--color-primary) inset,
      0 0 0 5px var(--color-tertiary) inset;
  }

  .primary:focus {
    box-shadow: 0 0 0 2.5px var(--color-primary) inset,
      0 0 0 5px var(--color-tertiary) inset;
  }
}

@media screen and (max-width: 1279px) {
  .button {
    padding: 10px 0;
    font-size: 16px;
  }
}
