.title {
  margin: 0;

  font-family: var(--font-roboto), "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .title {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 26px;
  }
}
