@import "yet-another-react-lightbox/styles.css";

:root {
  --color-primary: #fff;
  --color-secondary: #344045;
  --color-tertiary: #035ea8;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  font-family: var(--font-roboto), "Open Sans", sans-serif;
  line-height: 1.3;

  background: var(--color-secondary);
}
