:root {
  --color-primary: #fff;
  --color-secondary: #344045;
  --color-tertiary: #035ea8;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 3000px;
  margin: 0;

  font-family: var(--font-roboto), "Open Sans", sans-serif;

  background: var(--color-primary);
}
