.container {
  width: 100%;
  max-width: 1600px;
}

@media screen and (max-width: 1740px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    width: 95%;
  }
}
